body {
    color: #121212;
    font-size: 14px;    
    margin: 0;
    font-family: "Montserrat";
}

header {
    background-color: #009688;
    height: 80px;
    width: 100%;
    display: flex;
    position: fixed;
}

.HeaderLeft {
    height: 100%;
    width: 80px;
    display: flex;;
}

.HeaderLogoImg {
    height: 80%;
    width: 80%;
    margin-left: 18px;
    margin-top: 7px;
}

.HeaderMiddle {
    font-size: 24px;
    font-weight: 500;
    color: #E0F2F1;
    align-items: center;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.CommunityButton {
    height: 100%;
    padding: 0 20px;
    line-height: 100%;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.CommunityButton:hover {
    background-color: #00695c;
}

.CommunityButton:hover,
.HeaderLeft:hover {
    cursor: pointer;
}

.HeaderRight {
    width: 80px;
    height: 100%;
}

.ProfileImg {
    height: 75%;
    width: 75%;
    border-radius: 100px;
    margin-top: 10px;
    margin-right: 10px;
}

main {
    background-color: #E0F2F1;
    height: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.ReviewContent {
    display: flex;
    height: 300px;
    flex-direction: row;
    width: 86%;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
}

.TripReviewDiv {
    width: 500px;
    height: 240px;
    display: flex;
    flex-direction: row;
    background-color: paleturquoise;
}

.TripDivImg {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TripImg {
    width: 97%;
    height: auto;
}

.TripDivContent {
    flex:2;
}

footer {
    background-color: #004D40;
    height: 200px;
    width: 100%;
    display: flex;
}